<div class="barraNav">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/romina-doval">
        <i class="fa-brands fa-linkedin fa-2xl"></i></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.instagram.com/romy.doval/">
        <i class="fa-brands fa-square-instagram fa-2xl"></i></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://github.com/Ankyara">
        <i class="fa-brands fa-square-github fa-2xl"></i></a>
    </li>

    <li class="nav-item">
      <button type="button" class="btn btn-outline-light button" (click)="login()" *ngIf="!isLogged" ><i class="fa-solid fa-arrow-right-to-bracket"></i></button>
    </li>

    <li class="nav-item">
      <button type="button" class="btn btn-outline-light button" (click)="onLogOut()" *ngIf="isLogged" ><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
    </li>
  </ul>
</div>