<div class="barraNav">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/romina-doval">
        <i class="icon fa-brands fa-linkedin fa-3x"></i></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.instagram.com/romy.doval/">
        <i class="icon fa-brands fa-square-instagram fa-3x"></i></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://github.com/Ankyara">
        <i class="icon fa-brands fa-square-github fa-3x"></i></a>
    </li>

    <li class="nav-item">
      <button type="button" class="btn btn-outline-light button">Login</button>
    </li>

    
  </ul>
</div>