<div class="barraNav">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/romina-doval">
        <i class="fa-brands fa-linkedin fa-2xl"></i></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.instagram.com/romy.doval/">
        <i class="fa-brands fa-square-instagram fa-2xl"></i></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://github.com/Ankyara">
        <i class="fa-brands fa-square-github fa-2xl"></i></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" target="_blank" href="#">
        <i class="fa-solid fa-right-to-bracket fa-2xl"></i></a>
    </li>
  </ul>
</div>