<div class="sectionTitle text-center">
    <h2>EDUCACIÓN Y CURSOS</h2>
</div>

<div class="row educacion">

    <!-- ------------------------------ EDUCACION ------------------------------ -->
    <div class="col-lg-6" id="educacion1">
        <h3 class="ed-title">EDUCACIÓN</h3>
        <br>

        <!-- --------------------------------- UBA --------------------------------- -->
        <div class="ed-item pb-0">
            <img src="../../../assets/logoUBA.png" class="logoUBA">
            <h4>Lic. en Relaciones del Trabajo &#45; 2021</h4>
            <p><em>Universidad de Buenos Aires &#45; Facultad de Cs.Sociales</em></p><br>
        </div>

        <!-- ------------------------- Argentina Programa -------------------------- -->
        <div class="ed-item">
            <h4>Programador web &#47; Full Stack Junior &#45; 2022</h4>
            <p><em>Argentina Programa</em></p>
            <ul>
                <li>HTML &#45; CSS &#45; JavaScript</li>
                <li>Git &#45; GitHub</li>
                <li>Boostrap 5</li>
                <li>TypeScript</li>
                <li>Angular</li>
                <li>Base de datos &#45; MySQL</li>
                <li>Java</li>
            </ul>
        </div>

        <!-- ----------------------------- Codo a Codo ----------------------------- -->
        <div class="ed-item">
            <h4>FullStack &#47; JavaScript &#43; Node JS &#45; 2022</h4>
            <p><em>Codo a Codo</em></p>
            <ul>
                <li>HTML &#45; CSS &#45; Boostrap 5</li>
                <li>Git &#45; GitHub</li>
                <li>JavaScript</li>
                <li>Node.JS</li>
                <li>Base de datos &#45; MySQL</li>
            </ul>
        </div>
    </div>


    <!-- ------------------------------- CURSOS -------------------------------- -->
    <div class="col-lg-6" id="educacion2">
        <h3 class="ed-title">CURSOS</h3><br>
        <div class="ed-item">
            <h4>Senior graphic design specialist</h4>
            <h5>2019 - Present</h5>
            <p><em>Experion, New York, NY </em></p>
            <ul>
                <li>Lead in the design, development, and implementation of the graphic, layout, and production
                    communication materials</li>
                <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the
                    project. </li>
                <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the
                    design</li>
                <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
            </ul>
        </div>
        <div class="ed-item">
            <h4>Graphic design specialist</h4>
            <h5>2017 - 2018</h5>
            <p><em>Stepping Stone Advertising, New York, NY</em></p>
            <ul>
                <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and
                    advertisements).</li>
                <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
            </ul>
        </div>
    </div>

</div>
  
