<div class="barraNav">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/romina-doval">
        <img src="../../../assets/linkedinWhite.png" alt="Linkedin" /></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.instagram.com/romy.doval/">
        <img src="../../../assets/instagramWhite.png" alt="Instagram" /></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://github.com/Ankyara">
        <img src="../../../assets/githubWhite.png" alt="GitHub" /></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" target="_blank" href="#">
        <img src="../../../assets/loginWhite.png" alt="Login" /></a>
    </li>
  </ul>
</div>