<div class="row about">
    <div class="colAbout1 sm-col-12 col-md-3 text-center">
      <img src="../../../assets/about2.jpg" class="fotoAbout">
    </div>
    <div class="colAbout2 sm-col-12 col-md-9">
      <h1>About me...</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo corporis, in saepe ut ex quos
        exercitationem
        voluptates explicabo harum illum accusamus aut totam consequatur cum nobis non facilis obcaecati rem,
        facere
        reiciendis, dolorem ducimus nisi officia iusto. Sint soluta adipisci quibusdam corporis alias libero
        molestias
        rerum delectus, explicabo, officia at perspiciatis distinctio dolor expedita itaque? Eligendi, quam,
        numquam
        aspernatur vero iure omnis consectetur, neque nisi quas consequuntur debitis.</p> 
        <button type="button" class="btn btn-outline-info">Dowland CV</button>
    </div>
   
  </div>
