<div class="row sectionTitle text-center">
    <h2>EDUCACIÓN Y CURSOS</h2>
</div>

<div class="row educacion">

    <div class="col-lg-6" id="educacion1">
        <br>

        <!-- --------------------------------- UBA --------------------------------- -->
        <div class="ed-item pb-0">
            <img src="../../../assets/logoUBA.png" class="logo">
            <h4>Lic. en Relaciones del Trabajo  </h4>
            <p><em>2021 &#45; Universidad de Buenos Aires</em></p><br>
        </div>

        <!-- ------------------------- Argentina Programa -------------------------- -->
        <div class="ed-item">
            <img src="../../../assets/logoAP2.png" class="logo">
            <h4>Programador web &#45; Full Stack Junior  </h4>
            <p><em>2022 &#45; Argentina Programa</em></p>
            <ul>
                <li>HTML &#45; CSS &#45; JavaScript</li>
                <li>Git &#45; GitHub</li>
                <li>Boostrap 5</li>
                <li>TypeScript</li>
                <li>Angular</li>
                <li>Base de datos &#45; MySQL</li>
                <li>Java</li>
            </ul>
        </div>

        <!-- ----------------------------- Codo a Codo ----------------------------- -->
        <div class="ed-item">
            <app-logo-codo></app-logo-codo>
            <h4>FullStack &#45; JavaScript &#43; Node JS  </h4>
            <p><em>2022 &#45; Codo a Codo 4.0</em></p>
            <ul>
                <li>HTML &#45; CSS &#45; Boostrap </li>
                <li>JavaScript</li>
                <li>Git &#45; GitHub</li>
                <li>Base de datos &#45; MySQL</li>
                <li>Node.JS</li>
            </ul>
        </div>
    </div>


        <!-- ----------------------------------------------------------------------- -->
    <div class="col-lg-6" id="educacion2">
        <br>

        <div class="ed-item">
            <app-logo-codo></app-logo-codo>
            <h4>Full Stack - Python</h4>
            <p><em>Actualmente &#45; Codo a Codo 4.0 </em></p>
            <ul>
                <li>HTML &#45; CSS &#45; Boostrap </li>
                <li>JavaScript</li>
                <li>Vue.js</li>
                <li>Git &#45; GitHub</li>
                <li>Base de datos &#45; MySQL</li>
                <li>Python Intro - POO - CRUD</li>
                <li>Django</li>
            </ul>
        </div>
        <div class="ed-item">
            <app-logo-codo></app-logo-codo>
            <h4>Full Stack - React Js (Firebase-MongoDB)</h4>
            <p><em>Actualmente &#45; Codo a Codo 4.0</em></p>
            <ul>
                <li>Developed </li>
                <li>Managed </li>
                <li>Recommended </li>
                <li>Created </li>
            </ul>
        </div>
    </div>

</div>
  
