.banner {
    background-image: url(../../../assets/nebulosa.jpg);
    height: 24rem;
    opacity: 0.8;
}
.tittle:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}



