<div class="container">
    <div class="navbar navbar-dark bg-dark">">
          <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar/">
            <img src="/src/assets/imagenes/logoAP.png" width="140"></a>
      
          <ul class="nav justify-content-end">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">
                <img src="/src/assets/imagenes/linkedin.png" width="30" alt="Linkedin"></a></li>
      
            <li class="nav-item"><a class="nav-link" href="#">
                <img src="/src/assets/imagenes/instagram.png" width="30" alt="Instagram"></a></li>
            
            <li class="nav-item"><a class="nav-link" href="#">
                <img src="/src/assets/imagenes/github.png" width="30" alt="GitHub"></a></li>
      
            <li class="nav-item"><a class="nav-link" href="#">
                <img src="/src/assets/imagenes/login.png" width="30" alt="Login"></a></li>
          </ul>

    </div>
</div>
