<div class="row about">
    <div class="colAbout1 sm-col-12 col-md-4 text-center">
      <img src="../../../assets/about2.jpg" class="fotoAbout img-fluid">
    </div>
    <div class="colAbout2 sm-col-12 col-md-8">
      <h1>About me...</h1>
      <p>Hola! soy Romy y recién estoy comenzando en el mundo del desarrollo web. Actualmente estoy trabajando como freelance, enfocandome en el desarrollo de proyectos personales con el fin de adquirir experiencia. Además soy fanática de los videojuegos y el anime!</p> 
    </div>
   
  </div>
