<div class="row about">
    <div class="colAbout1 sm-col-12 col-md-4 text-center">
      <img src="../../../assets/about2.jpg" class="fotoAbout img-fluid">
    </div>
    
    <div class="colAbout2 sm-col-12 col-md-6">
      <h1 class="display-3 fw-bold text-white" id="nombre">Romina Doval</h1>
      <p class="fs-3 text-white">Full Stack Developer Jr.</p>
    </div>  

<div class="col-12 aboutTexto">
      <p>Hola! soy Romina y recién estoy comenzando en el mundo del desarrollo web. Actualmente estoy trabajando como freelance, enfocandome en el desarrollo de proyectos personales con el fin de adquirir experiencia. Además soy fanática de los videojuegos y el anime!</p> 
  </div>
  
    
</div>

    
  
