<div class="row about">
  <div class="colAbout1 sm-col-12 col-md-3 text-center">
    <img src="../../../assets/about2.jpg" class="fotoAbout img-fluid">
  </div>

  <div class="colAbout2 sm-col-12 col-md-8">
    <div class="display-3 fw-bold text-white">
      <h1><i class="fa-solid fa-star-half-stroke fa-beat"></i> Acerca de mí...</h1>
    </div>

    <div class="texto">
      <p>Hola! soy Romina y recién estoy comenzando en el mundo del desarrollo web. Actualmente estoy trabajando como
        freelance, enfocandome en el desarrollo de proyectos personales con el fin de adquirir experiencia. Además soy
        fanática de los videojuegos y el anime!</p>
    </div>

</div>

    
  
