.about {
    background-color: #212529;
    color: white;
    padding: 50px 0px 50px 0px;
    text-align: center;
    font-size: larger;
  }

  h1 {
    color: #21618C;
  }
  
  .colAbout2, h1 {
    padding-bottom: 20px;
  }
  
  .colAbout2, p {
    padding-right: 40px;
  }

 .fotoAbout {
    width: 12rem;
    border-radius: 4.5rem;
    box-shadow: 2px 2px 2px #21618C ;
    -webkit-border-radius: 4.5rem;
    -moz-border-radius: 4.5rem;
    -ms-border-radius: 4.5rem;
    -o-border-radius: 4.5rem;
}