<div class="row sectionTitle text-center">
    <h2>HARD & SOFT SKILLS</h2>
  </div>
  
<div class="row skills">

    <!-- ------------------------------ Front end ------------------------------ -->
    <div class="col-lg-6 skills1">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="mb-3 fw-bold">Front-End</h3>
        </div>

        <div class="skill-item">
            <div class="skillTitle d-flex justify-content-between align-items-center">
                <span class="fs-5"><img src="../../../assets/HTML20.png"> HTML</span>
            </div>
            <div class="progress mb-3" style="height: 1.5rem;">
                <div class="progress-bar rojo" role="progressbar" style="width: 50%;" aria-valuemin="0"
                    aria-valuenow="50" aria-valuemax="100">Intermedio</div>
            </div>
        </div>


        <div class="skill-item">
            <div class="itemTitle d-flex justify-content-between align-items-center">
                <span class="fs-5"><img src="../../../assets/CSS20.png"> CSS</span>
            </div>
            <div class="progress mb-3" style="height: 1.5rem;">
                <div class="progress-bar azul" role="progressbar" style="width: 50%;" aria-valuemin="0" aria-valuenow="50"
                    aria-valuemax="100">Intermedio</div>
            </div>
        </div>


        <div class="skill-item">
            <div class="item-title d-flex justify-content-between align-items-center">
                <span class="fs-5"><img src="../../../assets/JS20.png"> JavaScript</span>
            </div>
            <div class="progress mb-3" style="height: 1.5rem;">
                <div class="progress-bar amarillo" role="progressbar" style="width: 25%;" aria-valuemin="0"
                    aria-valuenow="25" aria-valuemax="100">Básico</div>
            </div>
        </div>


        <div class="skill-item">
            <div class="item-title d-flex justify-content-between align-items-center">
                <span class="fs-5"><img src="../../../assets/BOOT20.png"> Bootstrap</span>
            </div>
            <div class="progress mb-3" style="height: 1.5rem;">
                <div class="progress-bar azul" role="progressbar" style="width:50%;" aria-valuemin="0" aria-valuenow="50"
                    aria-valuemax="100">Intermedio</div>
            </div>
        </div>


        <div class="skill-item">
            <div class="item-title d-flex justify-content-between align-items-center">
                <span class="fs-5"><img src="../../../assets/ANGULAR20.png"> Angular</span>
            </div>
            <div class="progress mb-3" style="height: 1.5rem;">
                <div class="progress-bar rojo" role="progressbar" style="width: 25%;" aria-valuemin="0"
                    aria-valuenow="25" aria-valuemax="100">Básico</div>
            </div>
        </div>
    </div>

    <!-- ------------------------------ Back End ------------------------------- -->
    <div class="col-lg-6 skills2">
        <div class="skills-header d-flex justify-content-between align-items-center">
            <h3 class="mb-3 fw-bold">Back-End</h3>
        </div>
    
    
        <div class="skill-item">
            <div class="item-title d-flex justify-content-between align-items-center">
                <span class="fs-5"><img src="../../../assets/MySQL20.png"> MySQL</span>
            </div>
            <div class="progress mb-3" style="height: 1.5rem;">
                <div class="progress-bar bg-info" role="progressbar" style="width: 25%;" aria-valuemin="0"
                    aria-valuenow="25" aria-valuemax="100">Básico</div>
            </div>
        </div>
    
        <br>
    
    <!-- ----------------------------- Soft Skills ----------------------------- -->
    
        <div class="skills-header d-flex justify-content-between align-items-center">
            <h3 class="mb-3 fw-bold">Soft Skills</h3>
        </div>
    
        <div class="skill-item">
            <div class="item-title d-flex justify-content-between align-items-center">
                <span class="fs-5">Colaboración y Trabajo en Equipo</span>
            </div>
            <div class="progress mb-3" style="height: 1.5rem;">
                <div class="progress-bar rojo" role="progressbar" style="width: 100%;" aria-valuemin="0"
                    aria-valuenow="30" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="skill-item">
            <div class="item-title d-flex justify-content-between align-items-center">
                <span class="fs-5">Autodidacta</span>
            </div>
            <div class="progress mb-3" style="height: 1.5rem;">
                <div class="progress-bar azul" role="progressbar" style="width: 100%;" aria-valuemin="0"
                    aria-valuenow="100" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="skill-item">
            <div class="item-title d-flex justify-content-between align-items-center">
                <span class="fs-5">Comunicación</span>
            </div>
            <div class="progress mb-3" style="height: 1.5rem;">
                <div class="progress-bar amarillo" role="progressbar" style="width: 100%;" aria-valuemin="0"
                    aria-valuenow="100" aria-valuemax="100"></div>
            </div>
        </div>
        
    </div>

</div>