.skills {
    background-color: #212529;
    color: white;
    padding: 2rem;
  }

  h3 {
    color: white;
    text-shadow: 0px 0px 4px #B39BAE;
    
  }

  .skills1, .skills2 {
    padding-left: 2rem;
  }

  .sectionTitle {
    background-image: url(../../../assets/nebulosaTittle.jpg);
    opacity: 0.8;
    background-color: #212529;
    color: #d9d9d9;
    padding: 2rem 0 1rem 0;
    text-align: center;
    height: 6rem;
  }

  .sectionTitle h2{
    font-weight: bold;
  }

  .sectionTitle h2:hover{
    scale: 1.2;
    text-shadow: #474747 3px 5px 2px;
  }

  .progress-bar {
    color: black;
  }

  .rojo {
    background-color: #EC7063;
  }

  .amarillo {
    background-color: #FFF9C4 ;  
  }

  .azul {
    background-color: #5499C7;
  }

  .lila {
    background-color: #b39bae;
    color: #d9d9d9;
  }

  