.sectionTitle {
    background-image: url(../../../assets/nebulosaTittle.jpg);
    opacity: 0.8;
    background-color: #212529;
    color: white;
    padding: 2rem 0 1rem 0;
    text-align: center;
    height: 6rem;
  }

  .sectionTitle h2:hover{
    scale: 1.2;
    text-shadow: #474747 3px 5px 2px;
  }

  /* -------------------------------------------------------------------------- */

  .proyectos {
    background-color: #212529;
    color: white;
    padding: 2rem;
    }
  
  .carousel {
    width: 25rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
  
  #titleProyectos {
    margin-bottom: 1rem;
  }

  .row .proyectoTexto {
    text-align: center;
    padding-top: 1rem;
  }


