<div class="row sectionTitle text-center">
    <h2>PROYECTOS</h2>
</div>

<div class="row justify-content-around">
    <div class="card proyecto m-5" style="width: 20rem;">
        <img src="../../../assets/portfolio.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">PORTFOLIO</h5>
          <p class="card-text">Proyecto - Argentina Programa</p>
          <a href="#" class="btn">Link</a>
        </div>
      </div>

      <div class="card proyecto m-5" style="width: 20rem;">
        <img src="../../../assets/shiba.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">SHIBA</h5>
          <p class="card-text">Proyecto - Codo a codo</p>
          <a href="#" class="btn">Link</a>
        </div>
      </div>

</div>


